In [1]:
import numpy as np
import pandas as pd
import sqlite3 as sql3

In [2]:
conn = sql3.connect(':memory:')
cur = conn.cursor()

sql_script_text=open('files/van_crime_2003.sql', 'r').read()

cur.executescript(sql_script_text)

In [3]:
crimes = pd.read_sql("SELECT * FROM van_crimes",conn)
crimes.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Theft from Vehicle,2003,6,28.0,13.0,30.0,8XX EXPO BLVD,Central Business District,491771.63,5458295.01
1,Theft from Vehicle,2003,11,17.0,16.0,0.0,56XX OAK ST,South Cambie,490682.32,5453536.96
2,Theft from Vehicle,2003,12,30.0,14.0,0.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36
3,Theft of Vehicle,2003,1,15.0,14.0,45.0,6XX W 41ST AVE,Oakridge,491372.94,5453422.83
4,Theft from Vehicle,2003,12,28.0,16.0,45.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36

In [4]:
sql_query="""
    SELECT TYPE, MONTH, DAY, NEIGHBOURHOOD 
    FROM van_crimes
    WHERE NEIGHBOURHOOD='Stanley Park' OR NEIGHBOURHOOD='West End';
"""

crimes_filt=pd.read_sql(sql_query,conn)
crimes_filt.head(25)

                  TYPE  MONTH   DAY NEIGHBOURHOOD
0   Theft from Vehicle     12  30.0  Stanley Park
1   Theft from Vehicle     12  28.0  Stanley Park
2   Theft from Vehicle     12  12.0  Stanley Park
3   Theft from Vehicle     12  12.0  Stanley Park
4   Theft from Vehicle     11   5.0  Stanley Park
5   Theft from Vehicle     10  25.0  Stanley Park
6   Theft from Vehicle     10   2.0  Stanley Park
7   Theft from Vehicle      9  27.0  Stanley Park
8   Theft from Vehicle      9  26.0  Stanley Park
9   Theft from Vehicle      9  24.0  Stanley Park
10  Theft from Vehicle      9   1.0  Stanley Park
11  Theft from Vehicle      8  17.0  Stanley Park
12  Theft from Vehicle      8  12.0  Stanley Park
13  Theft from Vehicle      8   1.0  Stanley Park
14  Theft from Vehicle      7  24.0  Stanley Park
15  Theft from Vehicle      7  21.0  Stanley Park
16  Theft from Vehicle      7  10.0  Stanley Park
17  Theft from Vehicle      7   2.0  Stanley Park
18  Theft from Vehicle      5  16.0  Stanley Park
19            Mischief      5   1.0      West End
20            Mischief      6  28.0      West End
21  Theft from Vehicle      2  28.0  Stanley Park
22    Theft of Vehicle      6  21.0      West End
23    Theft of Vehicle      5  29.0      West End
24    Theft of Vehicle      5  12.0      West End

In [5]:
crime_types=crimes['TYPE'].value_counts()
crime_types.head()

Theft of Vehicle                     100
Theft from Vehicle                    78
Break and Enter Residential/Other     34
Mischief                              29
Offence Against a Person               5
Name: TYPE, dtype: int64

In [9]:
cur.close()
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [8]:
print(conn)
print(cur)

<sqlite3.Connection object at 0x00000242128AB4E0>
<sqlite3.Cursor object at 0x0000024210544650>